* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    line-height: 1.6;
    color: black;
}
h1, h2, h3 {
    font-weight: 300;
    line-height: 1.2;
}
img {
    width: 100%;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}


/* Header */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(./images/logo4.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header img {
    width: 300px;
    height: 70px;
    margin-top: 15px;
    margin-left: 15px;
}